table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 5px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: gold;
}

th {
    background-color: gold;
    color: black;
}